<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:hasCode="false"
        android:label="@string/app_name">
        
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />
            
        <property
            android:name="com.google.wear.watchface.format.version"
            android:value="4" />
            
        <property
            android:name="com.google.wear.watchface.format.publisher"
            android:value="Gautier7799" />
            
        <!-- هذا هو جزء الـ Service المفقود والذي بدونه لن تظهر الواجهة -->
        <service
            android:name="androidx.wear.watchface.WatchFaceService"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
                <category android:name="com.google.android.wearable.watchface.category.WATCH_FACE" />
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/watch_face_info" />
        </service>
            
    </application>
</manifest>
